body, table {
  font-size: 14px;
}

table {
  border-collapse: collapse;
}

img {
  display: inline-block;
  vertical-align: middle;
}

tr td, tr th {
  vertical-align: middle;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px 2px;
}

tr td * {
  vertical-align: middle;
}

tr:nth-child(even) td {
  background: #f9f9f9;
}

tr:last-child td {
  border-bottom: none;
}
